{% extends "layout.html" %}

{% block title %}
    View Library
{% endblock %}

{% block main %}

    <div class="container my-5">
        <h1 class="text-body-emphasis">Your Board Game Library!</h1>
        <p class="lead">View all of the board games that you and your friends have on your shelves!<br>Click on a title to see the game on <a href="https://www.boardgamegeek.com" target="_blank">BoardGameGeek</a>.<br>You can also rate games on this page.</p>
    </div>

    <div class="container my-5">
        <div class="p-5 text-center bg-body-tertiary rounded-3 border" style="margin: auto">
            {% if numberofgames == 1 %}
                <p class="lead">Your library contains 1 unique game!</p>
            {% elif numberofgames > 1 %}
                <p class="lead">Your library contains {{ numberofgames }} unique games!</p>
            {% else %}
                <p class="lead">Your library doesn't contain any games!</p>
            {% endif %}
            <table class="table table-dark table-hover" style="text-align: left; width: 70%; margin: auto; border: 1px solid #dee2e6">
                <thead class="table-dark">
                    <tr>
                        {% if library %}
                            <th style="width: 20%; text-align: center">
                                <form action="/library" method="post">
                                    <button name="sortbyyourrating" type="submit" class="btn btn-lg" value="sortbyyourrating">Your Rating</button>
                                </form>
                            </th>
                            <th style="width: 50%">
                                <form action="/library" method="post">
                                    <button name="sortbytitle" type="submit" class="btn btn-lg" value="sortbytitle">Title</button>
                                </form>
                            </th>
                            <th style="width: 30%">
                                <form action="/library" method="post">
                                    <button type="button" class="btn btn-lg" style="border-color: #212529; color: #dee2e6; opacity: 100" disabled>Owned By</button>
                                </form>
                            </th>

                        {% else %}
                            <th style="width: 20%">
                                <button type="button" class="btn btn-lg" style="border-color: #212529; color: #dee2e6; opacity: 100" disabled>Your Rating</button>
                            </th>
                            <th style="width: 50%">
                                <button type="button" class="btn btn-lg" style="border-color: #212529; color: #dee2e6; opacity: 100" disabled>Title</button>
                            </th>
                            <th style="width: 30%">
                                <button type="button" class="btn btn-lg" style="border-color: #212529; color: #dee2e6; opacity: 100" disabled>Owned By</button>
                            </th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% if library %}
                        {% for entry in library %}
                            <tr>
                                <td>
                                    <form id ="formrating{{ loop.index }}" action="/rate" method="get">
                                        <input type="hidden" name="game_id" value="{{ entry.game_id }}">
                                        <select name="ratingdropdown" class="form-select" style="width: 75px; text-align: center; margin: auto">
                                            <option disabled selected value="{{ entry.rating }}">{{ entry.rating|default('--', true) }}</option>
                                            <option value="10">10</option>
                                            <option value="9">9</option>
                                            <option value="8">8</option>
                                            <option value="7">7</option>
                                            <option value="6">6</option>
                                            <option value="5">5</option>
                                            <option value="4">4</option>
                                            <option value="3">3</option>
                                            <option value="2">2</option>
                                            <option value="1">1</option>
                                            <option value="0">0</option>
                                          </select>
                                    </form>
                                </td>
                                <td class="ps-4 wrap">
                                    <a href="https://boardgamegeek.com/boardgame/{{entry.game_id}}" target="_blank">{{ entry.title }}</a>
                                </td>
                                <td class="ps-4">
                                    {% if entry.ownedby %}
                                        {{ ', '.join(entry.ownedby) }}
                                    {% else %}
                                        --
                                    {% endif %}
                                </td>

                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td class="center">--</td>
                            <td><i>no games</i></td>
                            <td>--</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>

    <script>
        let ratingforms = document.querySelectorAll('select');
        console.log(ratingforms)
        for (let index = 0; index < ratingforms.length; index++) {
            ratingforms[index].addEventListener('change', function() {
                let parentDiv = this.parentNode;
                let hiddenValue = parentDiv.querySelector('input[type="hidden"]').value;
                event.preventDefault();
                const xhttp = new XMLHttpRequest();
                xhttp.onload = function() {
                    console.log(xhttp.responseText)
                    }
                xhttp.open("POST", "/rate");
                xhttp.setRequestHeader("Content-type", "application/json");
                let data = {
                    rating: this.value,
                    hiddenValue: hiddenValue
                };
                console.log(data);
                xhttp.send(JSON.stringify(data));
            })
        };
    </script>


{% endblock %}
